<table>
    <% @todos.each do |todo| %>
      <tr data-href="/todos/<%= todo["id"] %>">
        <td><%= todo["id"] %></td>
        <td><%= todo["title"] %></td>
        <td><%= todo["done"] %></td>
      </tr>
    <% end %>
</table>